body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul[role='list'],
ol[role='list'],
a:not([class]),
input,
button,
textarea,
select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    list-style: none;
    text-decoration-skip-ink: auto;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove all animations, transitions and smooth scroll for reduced motion preference */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Your existing styles */
body {
    font-family: 'Protest Riot', 'Arial', sans-serif;
    text-align: left;
    background-color: aqua;
    margin: 0;
    margin-inline: auto;
    padding: 20px;
    display: grid;
    justify-content: center;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

p {
    color: #555;
    font-size: 1.2em;
    margin: 10px 0;
}

img.unsplash {
    position: absolute;
    top: 1;
    right: 1;
    max-width: 10px;
    height: 10px;
}

@media only screen and (min-width: 320px) {
    h1 {
        font-size: 1.5em;
    }

    h6 {
        font-size: 1em;
    }

    img.unsplash {
        max-width: 100%;
        height: auto;
    }
}